h1, h2, h3, p{
  font-family: helvetica;
}

h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;

}

h2 {
  font-size: helvetica;
  font-weight: bold;
  color: white;
}


#brush {
  background-color: MediumSpringGreen;
}

#frame {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
